#warning-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--warning-color);
    box-shadow: 2px 3px 0px 0px rgb(0 0 0 / 60%);
    height: 90%;
}

#search-box {
    display: block;
    margin: auto;
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: var(--light-font-color);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 0px 0px rgb(0 0 0 / 60%);
}

#search-box:focus {
    outline: 3px solid var(--main-color-dark);
}

.repos-list-enter {
    opacity: 0;
    transform: translateY(100%);
}

.repos-list-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 500ms;
}

.repos-list-exit {
    opacity: 1;
    transform: translateY(0);
}

.repos-list-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s, transform 500ms;
}

#run-btn {
    display: block;
    margin: 20px auto;
    padding: 8px;
    width: 100%;
    background-color: var(--main-color-dark);
    color: var(--light-font-color);
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

#run-btn:hover {
    background-color: var(--warning-color);
    color: var(--light-font-color);
}

#run-btn:focus {
    background-color: var(--warning-color);
    box-shadow: none;
    outline: 3px solid var(--warning-color);
    outline-offset: 3px;
}

#run-btn:disabled {
    background: var(--light-font-color);
    color: var(--secondary-color-light);
    cursor: no-drop;
}

/* Component mount and unmount animation */
.mounted-style {
    animation: inAnimation 450ms ease-in;
}

.unmounted-style {
    animation: outAnimation 700ms ease-out;
    animation-fill-mode: forwards;
    overflow-y: hidden
}

@keyframes inAnimation {
    0% {
        opacity: 0;
        max-height: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        max-height: 1200px;
    }
}

@keyframes outAnimation {
    0% {
        max-height: 1200px;
        opacity: 1;

    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        max-height: 0;
    }
}