#depart-container {
    display: flex;
    font-size: large;
}

#depart-label {
    margin-right: 0.5em;
}

#depart-select {
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

#depart-select:hover {
    border: var(--main-color-dark) 2px solid;
    cursor: pointer;
}

#depart-select:focus {
    outline: 3px solid var(--main-color-dark);
    outline-offset: 2px;
}
