#searchBox {
    display: block;
    margin: auto;
    padding: 10px;
    height: 40px;
    width: 100%;
    background-color: var(--light-font-color);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 0px 0px rgb(0 0 0 / 60%);
}

#searchBox:focus {
    outline: 3px solid var(--main-color-dark);
}

#selectAllLabel {
    display: flex;
    margin: 15px 0;
}

#selectAllLabel:hover {
    cursor: pointer;
}

.pushToSides {
    display: flex;
    justify-content: space-between;
}

#selectedCount {
    margin: 15px 0;
}

#checklist-container {
    width: 100%;
    margin: 0px;
}

.item {
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary-color-dark);
    color: var(--secondary-font-color);
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgb(0 0 0 / 60%);
}

.item.active {
    background-color: var(--secondary-color-light);
}

.item:focus,
.item:hover {
    background-color: var(--secondary-color-light);
    outline: 3px solid var(--main-color-dark);
    cursor: pointer;
}