#select-all-label {
    display: flex;
    margin: 15px 0;
}

#select-all-label:hover {
    cursor: pointer;
}

.push-to-sides {
    display: flex;
    justify-content: space-between;
}

#selected-count {
    margin: 15px 0;
}

#checklist-container {
    width: 100%;
    margin: 0px;
}

.item {
    display: flex;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    background-color: var(--secondary-color-dark);
    color: var(--secondary-font-color);
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgb(0 0 0 / 60%);
}

.item span {
    text-align: left;
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.item.active {
    background-color: var(--secondary-color-light);
}

.item:focus,
.item:hover {
    background-color: var(--secondary-color-light);
    outline: 3px solid var(--main-color-dark);
    cursor: pointer;
}