#progressbarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    /* justify-content: space-evenly; */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: var(--light-font-color);
    opacity: 1;
}

#progressbar {
    height: 50px;
    width: 90%;
    background-color: #6c7f7b;
    border-radius: 50px;
    box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 60%);
}

#progressbarFiller {
    height: 100%;
    border-radius: inherit;
    text-align: right;
    transition: width 1s ease-in-out;
}

#progressbarLabel {
    padding: 5px 10px 5px;
    color: var(--light-font-color);
    font-weight: bold;
    height: 100%;
    font-size: 1.5em;
    display: inline-block;
}

#returnButon {
    margin-top: 1rem;
    padding: 8px;
    background-color: var(--secondary-color-light);
    color: var(--dark-font-color);
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 60%);
    border: none;
    border-radius: 5px;
}

#returnButon:focus {
    outline: 3px solid var(--main-color-dark);
}

#returnButon:hover {
    background-color: var(--main-color-dark);
    color: var(--light-font-color);
}