.list-item {
    display: flex;
    flex-direction: column;
}

/* Customize the label (the container) */
.checkbox-label {
    display: flex;
    margin: 15px auto 8px 0;
    font-weight: bold;
}

.checkbox-label:hover {
    cursor: pointer;
}

.details > summary {
    background-color: var(--main-color);
    color: var(--light-font-color);
    cursor: pointer;
    padding: 0.1rem 1rem;
}

.details > summary:focus {
    outline: 3px solid var(--main-color-dark);
}

.details[open] > summary {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.details > div {
    border: 2px solid var(--main-color);
    padding: 0.8rem;
    background-color: var(--light-font-color);
    border-bottom-left-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}
